@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

.footer {

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: fluid(24, 32, 375, 1440);
        margin-block-end: 17px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__address-location {
        display: flex;
        column-gap: 23px;
    }

    &__address-items {
        display: flex;
        column-gap: 16px;
        align-items: center;
    }

    &__link-list {
        display: grid;
        grid-template-areas: 
            "l-1"
            "l-2"
            "l-3"
            "l-4"
            "l-5"
            "l-6";
        row-gap: 16px;
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }

    &__social-list {
        display: flex;
        column-gap: 12px;
    }
}