@use '@scss/global/functions' as *;

.header {
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__community {
        display: flex;
        flex-direction: column;
        row-gap: 56px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: fluid(24, 32, 375, 1440);
    }
}