:root {
    --clr-primary-1: hsl(322, 99%, 34%);
    --clr-primary-1-shadow: hsla(322, 99%, 34%, 0.1662);
    --clr-primary-2: hsl(192, 100%, 9%);
    --clr-text-1: hsl(208, 15%, 35%);
    --clr-text-2: hsl(0, 0%, 100%);
    --clr-bg: hsl(193, 100%, 96%);
    --clr-box-shadow: hsl(0, 0%, 0%, 0.07);
    --clr-cta-button-shadow: hsla(192, 100%, 9%, 0.2231);
    --clr-hover: hsl(324, 98.4%, 76.1%);
    --clr-button-1-shadow: hsla(0, 0%, 0%, 0.0954);
}