@use './functions' as *;

@mixin button-1 {
    background-color: var(--clr-text-2);
    color: var(--clr-primary-2);
    font-size: var(--fs-header-button-1);
    font-weight: var(--fw-3);
    padding-inline: fluid(22, 64, 375, 1440, px);
    padding-block-start: fluid(4, 13, 375, 1440, px);
    padding-block-end: fluid(6, 16, 375, 1440, px);
    border-radius: fluid(12, 24, 375, 1440, rem);
}

@mixin button-2 {
    background-color: var(--clr-primary-1);
    color: var(--clr-text-2);
    font-weight: var(--fw-3);
    font-size: var(--fs-header-button-2);
    padding-inline: fluid(60, 70, 375, 1440, px);
    padding-block-start: fluid(10, 17, 375, 1440, px);
    padding-block-end: fluid(14, 20, 375, 1440, px);
    border-radius: fluid(20, 28, 375, 1440, rem);
}

@mixin cta-button {
    background-color: var(--clr-primary-1);
    color: var(--clr-text-2);
    font-weight: var(--fw-3);
    font-size: var(--fs-floating-section-button);
    line-height: var(--lh-floating-section-button);
    border-radius: fluid(20, 40, 375, 1440, rem);
    padding-inline: fluid(50, 100, 375, 1440);
    padding-block: fluid(12.5, 25, 375, 1440);
}